<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="#" class="nav-item nav-link active text-primary"><i class="bi-person-lines-fill">&nbsp;</i>Employees List</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a href="#" class="nav-item nav-link text-primary">Login<i class="bi-box-arrow-in-right"></i></a>
      </div>
    </div>
  </div>
</nav>
<div class="" style="padding: 10px; margin: 0px;">
  <app-employee></app-employee>
</div>